<!DOCTYPE html>
<html lang="en-us">
<head>

<meta charset="utf-8"> 

<title>Happy birthday, Chelsea!</title>
<link rel="stylesheet" type="text/css" href="/css/site.css"/>
<link rel="icon" type="image/png" href="https://s3.amazonaws.com/fftf-cms/static/img/fav.ico">
<meta name="viewport" content="width=device-width, initial-scale=1">

<meta property="og:title" content="Wikileaks whistleblower Chelsea Manning is turning 28 in prison" />
<meta property="og:type" content="website"/>
<meta property="og:description" content="She’s been incarcerated since she was 22, send her a card with a few clicks." />
<meta property="og:image" content="https://www.happybirthdaychelsea.com/images/share.jpg" />
<meta property="og:url" content="https://www.happybirthdaychelsea.com/" />

<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:site" content="fightfortheftr">
<meta name="twitter:title" content="Whistleblower Chelsea Manning is turning 28 in prison">
<meta name="twitter:description" content="Send her a birthday card with a few clicks."/>
<meta name="twitter:image:src" content="https://www.happybirthdaychelsea.com/images/share.jpg">
<meta name="twitter:domain" content="www.happybirthdaychelsea.com">
<meta name="twitter:account_id" content="382376904" />
<meta name="twittertext" content="I just sent a birthday card to whistleblower @xychelsea Chelsea Manning! You can too:" />

<link href="https://fonts.googleapis.com/css?family=Open+Sans:400,700,600" rel="stylesheet" type="text/css">
<link href="css/site.css" rel="stylesheet" type="text/css">
</head>
<body>
	<div id="wrapper">
		<article>
			<header>
				<img src="images/freechelsea.jpg">
				<h1>Today is Chelsea Manning's birthday.<br/>Send her a card!</h1>
				<p>
					Wikileaks whistleblower Chelsea Manning is spending her 28th birthday in a military prison. She’s been incarcerated since she was 22 for helping expose some of the U.S. government’s worst abuses. It’s so important that we show heroic whistleblowers like Chelsea that they will not be forgotten, so we want to make sure she gets lots of birthday love! Just fill out this page, and we'll mail your customized birthday card to Chelsea to remind her that she's not alone—happy birthday, Chelsea Manning!
				</p>
			</header>
			<form id="amibeingdetained">
				<h2>Enter a message:</h2>
				<span class="hint" id="remaining">350 characters remaining</span>
				<textarea maxlength="350"></textarea>
				<h2>Your info (optional):</h2>
				<span class="hint">&mdash; it's only required if you want Chelsea to reply :)</span>
				<input type="text" name="name" placeholder="Your name" autocorrect="off"/>
				<input type="text" name="address" placeholder="Street address" autocorrect="off"/>
				<input type="text" name="city" placeholder="City"/><input type="text" name="state" placeholder="State" autocorrect="off"/><br/>
				<input type="text" name="zip" placeholder="Zip Code"/><input type="text" name="email" placeholder="Email (optional)" autocorrect="off" autocapitalize="off"/>
				<button type="submit">Send your card!</button>
				<p class="disclosure">
					<input type="checkbox" name="opt_in" checked/>
					<a href="https://www.fightforthefuture.org" target="_blank">Fight for the Future</a>
					may email you campaign updates.
					<a href="https://www.fightforthefuture.org/privacy">Privacy</a>
				</p>
			</form>
			<div class="share" id="share">
		       	<button class="social facebook">Share this</button>
	        	<button class="social twitter">Tweet this</button>
	    	</div>
		</article>
		<footer>
			<a href="https://www.fightforthefuture.org" target="_blank"><img src="images/fftf-logo-2.png"></a>
		</footer>
	</div>
</body>
<script type="text/javascript" src="https://mothership.decidethefuture.org/core.min.js"></script>
<script type="text/javascript" src="js/main.min.js"></script>
</html>